[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.unityproj
*.suo
*.tmp
*.userprefs
*.blend1
*.blend2
.DS_Store
